body {
 overflow-x: hidden;
}

.section-1 {
 height: 100vh;
}

.dehya-photo-wrapper {
 background-color: rgb(220, 220, 220);
 height: 100vh;
 position: relative;
}

.dehya-summary-wrapper {
 height: 100vh;
}

.dehya-photo {
 width: 100%;
 position: absolute;
 bottom: 0;
}

.dehya-summary {
 max-width: 80%;
}

.dq {
 color: green;
}

.dehya {
 background-color: green;
 color: white;
}

.pf-button {
 background-color: green;
 border: none;
 color: white;
 border-radius: 30px;
}

.pf-button:hover {
 opacity: 0.75;
}


.right-sidebar {
 position: fixed;
 right: 0;
 top: 50%;
 transform: translate(0, -50%);
 border-radius: 25px;
 background-color: green;
}

.vertical-line {
 color: white;
}

@media (max-width: 350px) or (max-height: 450px) {
 .dehya-summary-wrapper {
  height: 600px;
 }

 .dehya-photo-wrapper {
  height: 700px;
 }

 .dehya {
  font-size: 15px;
 }
}


