body {
 overflow-x: hidden;
 position: relative;
}

.dehya-photo-wrapper {
 background-color: rgb(220, 220, 220);
 height: 100vh;
 position: relative;
}

.dehya-summary-wrapper {
 height: 100vh;
 background-color: rgb(245, 245, 245);
}

.dehya-photo {
 width: 100%;
 position: absolute;
 bottom: 0;
}

.dehya-summary {
 max-width: 80%;
}

.dq {
 color: green;
}

.dehya {
 background-color: green;
 color: white;
}

.pf-button {
 background-color: green;
 border: none;
 color: white;
 border-radius: 30px;
}

.pf-button:hover {
 opacity: 0.75;
}


.right-sidebar {
 position: fixed;
 right: 0;
 top: 50%;
 transform: translate(0, -50%);
 border-radius: 25px;
 background-color: green;
}

.vertical-line {
 color: white;
}

svg:hover {
 fill: cyan;
}

.dehya-portfolio-wrapper {
 height: 100vh;
 background-color: rgb(245, 245, 245);
}

.portfolio {
 border: 1px dotted black;
 width: 60%;
 margin-left: 20%;
}

.portfolio-left {
}

.pf-left, .pf-right {
 max-width: 80%;
 margin-left: 10%;
 transition: transform .2s;
}

.pf-left:hover, .pf-right:hover {
 transform: scale(1.2);
}

.portfolio-right {
}

.tech-stack {
 width: 25px;
}

.laravel-icon {
 width: 18px;
}

.mysql-icon {
 width: 28px;
}

.bootstrap-icon {
 width: 20px;
}

.react-icon {
 width: 20px;
}

.nodejs-icon {
 width: 17px;
}

.footer-wrapper {
 background-color: cyan;
}

footer {
 opacity: 0.5;
 position: absolute;
 top: 100%;
 bottom: 0;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 100%;
 text-align: center;
 margin-top: 30px;
 padding-bottom: 40px;
}

@media (max-width: 350px) or (max-height: 450px) {
 .dehya-summary-wrapper, .dehya-photo-wrapper{
  height: 700px;
 }

 .dehya {
  font-size: 15px;
 }
}

@media (max-width: 400px) or (max-height: 450px) {
 .dehya-portfolio-wrapper{
  height: 1100px;
 }
}

@media (max-width: 767px) {
 .pf-right {
  margin-top: 30px;
 }
}
